.parent {
    margin-top: 0rem;
    max-width: 90.5rem;
    height: 100%;
    padding: 0%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .folder-panel {
        background-color: rgb(250, 250, 250);
        width: 10rem;
        height: 100%;
        transition: width 0.5s;
        box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1);

        .row1 {
            display: flex;
            flex-direction: row;

            .menu-toggle {
                width: 2.2rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    .menu-icon {
                        width: 1.3rem;
                        height: 1.3rem;
                        fill: rgb(0, 0, 0);
                    }
                }
            }

            .create {
                width: calc(14rem - 2.2rem);
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .create-btn {
                    background-color: transparent;
                    border: 0.2px solid rgb(174, 174, 174);
                    height: 1.6rem;
                    width: 90%;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    font-size: 0.5rem;
                    font-weight: bolder;
                    color: rgb(0, 0, 0);

                    .new-icon {
                        width: 1rem;
                        height: 1rem;
                        fill: rgb(0, 125, 214);

                    }
                }
            }
        }

        .row2 {
            margin-top: 0%;
            width: 10rem;
            font-size: 0.8rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }

        .row3 {
            width: 8rem;
            max-height: 80%;
            font-size: 0.8rem;

            .project-folder {
                &-invisible {
                    display: none;
                }

                ul,
                li {
                    margin-top: 0;
                    margin-bottom: 0;
                    list-style-type: none;
                }

                .mat-nested-tree-node {
                    div[role=group] {
                        padding-left: 12px;

                        >.mat-tree-node {
                            padding-left: 2px;

                            button {
                                height: 0.8rem;
                                width: 0.8rem;

                                .mat-svg {
                                    padding: 0%;
                                    margin: -20%;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .editor-panel {
        width: fit-content;
        height: 100%;
        display: flex;
        display: flex;
        flex-direction: column;

        .editor-header {
            color: rgb(0, 0, 0);
            height: 1.3rem;
            background-color: rgb(255,255,255);
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            span {
                margin-left: 0.5rem;
            }

            .opened-file {
                min-width: 8rem;
                height: 100%;
                background-color: rgb(244,244,244);
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 2px 2px 0px 0px;

                span{
                    font-size: 0.8rem;
                }
            }
            .close-icon {
                padding-left: 0.5rem;
                padding-right: 0.3rem;
                cursor: pointer;
                svg{
                    fill: rgb(132, 132, 132);
                }
            }
        }


        .app-ace-editor {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            height: calc(100vh - 2.3rem);
            font-size: 1rem;
            transition: width 0.2s;
        }

        .editor-footer{
            width: 100vw;
            height: 12%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            transition: width 0.2s;
            color: rgb(255,255,255);

            :nth-child(2) , :nth-child(3){
                gap: 0rem;
            }

            .btn{
                background-color: rgb(72,178,255);
                color: rgb(255,255,255);
                border: 0;
                width: 10rem;
                height: 2rem;
                border-radius: 5px;
            }

            .text-field{
                border-radius: 5px;
                width: 10rem;
                height: 2rem;
                border: 1px solid rgb(72,178,255);

                &::placeholder{
                    text-align: center;
                }
            }
        }
    }
}