.parent {
    margin-top: 0rem;
    width: 100%;
    min-width: 99.9%;
    height: calc(100vh - 2.5rem);
    padding: 0%;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


        .form-fields {
            width: 98%;
            min-height: 40%;
            border-radius: 10px;
            margin-top: 1rem;

            display: flex;
            justify-content: space-between;

            .dataGenerate-fields {
                width: 80%;
                min-height: 100%;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-self: center;

                .generate-fields {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px 10px 0 0;

                    .header {
                        display: flex;
                        flex-direction: row;
                        height: 2rem;
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                        justify-content: flex-start;
                        align-items: center;
                        border-bottom: 1px solid rgb(210, 211, 214);

                        font-size: 0.8rem;
                        font-weight: 700;

                        .sno {
                            width: 5%;
                            border-radius: 10px 0 0 0;
                        }

                        .fieldname {
                            width: 15%;
                        }

                        .type {
                            width: 15%;
                        }

                        .option {
                            width: 60%;
                        }

                        .action {
                            width: 5%;
                            justify-self: flex-end;
                            justify-content: center;
                        }
                    }

                    .body {
                        width: 100%;
                        height: inherit;
                        max-height: 70vh;
                        position: relative;

                        display: flex;
                        flex-direction: column;

                        overflow-y: auto;
                        scrollbar-width: thin;
                        scrollbar-color: transparent transparent;
                        overflow: -moz-scrollbars-none;

                        ::-webkit-scrollbar {
                            width: 0;
                            height: 0;
                            background: transparent;
                        }


                        .row {
                            display: flex;
                            width: 100%;
                            height: 2rem;
                            margin-top: 0.3rem;
                            margin: 0.5rem 0;
                            justify-content: flex-start;

                            .sno {
                                width: 5%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .fieldname {
                                width: 15%;
                                display: flex;
                                justify-content: center;
                                align-items: center;


                                input {
                                    width: 95%;
                                    height: 1.55rem;
                                    background-color: rgb(241, 244, 244);
                                    font-size: 0.7rem;
                                    border-radius: 5px;
                                    border: 0px solid rgb(241, 244, 244);
                                    text-indent: 0.8rem;


                                    &::placeholder {
                                        font-size: 0.7rem;
                                        text-indent: 0.8rem;
                                        font-family: 'Inter', sans-serif;
                                    }

                                    &:focus {
                                        border: 0px solid transparent;
                                        outline: none;
                                    }

                                }

                            }

                            .type {
                                width: 15%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                ng-select {
                                    width: 100%;
                                    height: 1.55rem;
                                    font-size: 0.7rem;
                                    border: 0px;
                                    border-radius: 5px;
                                    text-indent: 0.8rem;
                                }

                                ng-template {
                                    width: 105px;
                                    // background-color: blue;
                                }

                                .select-search-input {
                                    width: inherit;
                                    padding: 0%;
                                    margin: 0%;

                                    // background-color: red;
                                    display: flex;
                                    justify-content: center;

                                    input {
                                        width: 113px;

                                        height: 1.55rem;
                                        background-color: rgb(241, 244, 244);
                                        font-size: 0.7rem;
                                        border-radius: 5px;
                                        border: 0px solid rgb(241, 244, 244);
                                        text-indent: 0.8rem;


                                        &::placeholder {
                                            font-size: 0.7rem;
                                            text-indent: 0.8rem;
                                        }

                                        &:focus {
                                            border: 0px solid transparent;
                                            outline: none;
                                        }
                                    }
                                }


                                select {
                                    width: 95%;
                                    height: 1.55rem;
                                    background-color: rgb(241, 244, 244);
                                    font-size: 0.7rem;
                                    border-radius: 5px;
                                    border: 0px solid rgb(241, 244, 244);
                                    text-indent: 0.8rem;

                                    .ng-select-container {
                                        background-color: rgb(241, 244, 244);
                                        border-radius: 5px;
                                        border: 1px solid rgb(241, 244, 244);
                                    }

                                    .ng-placeholder {
                                        font-size: 0.7rem;
                                    }

                                    &:focus {
                                        .ng-select-container {
                                            border: 0 solid transparent;
                                            outline: none;
                                        }
                                    }

                                    .select-search-input {
                                        input {
                                            font-size: 0.7rem;
                                            text-indent: 0.8rem;
                                            /* Add additional styles as needed */
                                        }
                                    }


                                    &::placeholder {
                                        font-size: 0.7rem;
                                        text-indent: 0.8rem;
                                    }

                                    &:focus {
                                        border: 0px solid transparent;
                                        outline: none;
                                    }

                                }
                            }

                            .option {

                                width: 60%;
                                max-width: 100%;
                                height: 100%;

                                overflow: auto;

                                scrollbar-width: thin;
                                scrollbar-color: transparent transparent;
                                overflow: -moz-scrollbars-none;

                                ::-webkit-scrollbar {
                                    width: 0;
                                    background: transparent;
                                }

                                .data-options {
                                    width: 200%;
                                    max-width: 100%;
                                    display: flex;
                                    height: 110%;
                                    overflow-y: scroll;
                                    scrollbar-width: thin;

                                    scrollbar-color: transparent transparent;
                                    overflow-y: -moz-scrollbars-none;

                                    ::-webkit-scrollbar {
                                        width: 0;
                                        height: 0;
                                        background: transparent;
                                    }

                                    .options-div {
                                        display: flex;
                                        width: 50%;
                                        justify-content: flex-start;
                                        align-items: center;
                                        flex-direction: row;
                                        margin: 0% 1rem;

                                        .label {
                                            max-width: 130px;
                                            font-size: 0.6rem;
                                            width: auto;
                                            display: inline-block;
                                            white-space: nowrap;
                                            width: auto;
                                            max-height: none;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            margin-right: 0.2rem;
                                        }

                                        .option-text {
                                            width: 128px;
                                            height: 1.55rem;
                                            background-color: rgb(241, 244, 244);
                                            font-size: 0.7rem;
                                            border-radius: 5px;
                                            border: 0px solid rgb(241, 244, 244);
                                            text-indent: 0.8rem;


                                            &::placeholder {
                                                font-size: 0.6rem;
                                                text-indent: 0.8rem;
                                            }

                                            &:focus {
                                                border: 0px solid transparent;
                                            }
                                        }
                                    }

                                    .options-div.selected {
                                        position: sticky;
                                        left: 0%;
                                        max-width: 200px; // Adjust the background color as needed
                                    }
                                }
                            }


                            .action {
                                width: 5%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                    }

                }


            }

            .rows-info {
                width: 19%;
                height: 250px;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                box-sizing: border-box;
                gap: 1.4rem;
                padding: 20px;

                font-size: 0.7rem;
                font-weight: 800;

                .rows,
                .format {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    label {
                        width: 6rem;

                    }

                    input {
                        width: 6rem;
                        height: 2rem;
                        border-radius: 5px;
                        border: 1px solid rgb(210, 211, 214);
                        text-indent: 20px;

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &::placeholder {
                            text-indent: 20px;
                        }
                    }

                    select {
                        width: 8rem;
                        height: 2.2rem;
                        border-radius: 5px;
                        border: 1px solid rgb(210, 211, 214);

                        .select {
                            width: 100%;
                            height: 2.2rem;
                            border-radius: 0 0 5px 5px;
                        }
                    }
                }
            }
        }

        .generate-rows {
            width: 79%;
            height: 8%;
            display: flex;

            align-self: flex-start;
            justify-content: flex-end;
            align-items: center;
            gap: 0.8rem;

            .input {
                display: flex;


                input[type="number"] {
                    border: 1.5px solid rgb(210, 211, 214);
                    width: 4rem;
                    height: 2rem;
                    border-radius: 5px;
                    background-color: transparent;
                    text-indent: 20px;
                    overflow: hidden;
                    cursor: pointer;

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::placeholder {
                        text-indent: 20px;
                    }
                }


                .arrows {
                    position: relative;
                    left: -1.4rem;
                    top: 0.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    svg {
                        width: 1rem;
                        height: 0.9rem;
                        cursor: pointer;
                    }
                }
            }



            .btn {
                // border: 1.5px solid rgb(72, 178, 255);
                width: 5rem;
                height: 2rem;
                border-radius: 5px;
                color: rgb(72, 178, 255);
                background-color: transparent;
                border: none;
                font-size: 0.7rem;
                font-weight: 400;
                cursor: pointer;
                // background-color: rgb(72, 178, 255);
            }
        }

        .generate-btns {
            width: 70%;
            height: 5%;
            display: flex;
            align-self: flex-start;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;


            .btn {
                width: 10rem;
                height: 2.0rem;
                background-color: rgb(72, 178, 255);
                color: rgb(255, 255, 255);
                border-radius: 5px;
                border: none;
                font-size: 0.7rem;
                font-weight: 500;


                &:disabled {
                    background-color: rgb(210, 211, 214);
                    color: rgb(241, 244, 244);
                    cursor: not-allowed;
                }

            }
        }
    }
}